.background {
  opacity: 0.5;
  width: 500px;
  height: 500px;

  z-index: -10;
}
.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  height: 100vh;
}
.quote-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.quizzes-list__elements-quiz {
  height: 100vh;
}
.quote {
  font-size: 40px;
  width: 70%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
}
.quote-icon {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: float 2.5s infinite alternate;
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30%);
  }
}
.slideshow__img {
  height: 400px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 700px) {
  .quote-icon {
    height: 50px;
    width: 50px;
  }
  .quote {
    font-size: 30px;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .quote-icon {
    height: 50px;
    width: 50px;
  }
  .quote {
    font-size: 20px;
    width: 70%;
  }
}
