.background {
  opacity: 0.5;
  width: 500px;
  height: 500px;

  z-index: -10;
}
.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: auto;
}
.quizzes-list__elements-quiz {
  height: 100vh;
}
.quote {
  font-size: 30px;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 500px) {
  .navbar__website-title {
    font-size: 20px;
  }
  quote .navbar__website-logo {
    height: 30px;
    width: 30px;
  }
}
